.header{
    background-color: #131921;
    display:flex;
    align-items:center;
    padding: 2px;
    position: fixed;
    top:0;
    z-index: 100;
    width: 100%;
}
.header_logo{
    width:100px;
    object-fit: contain;
    margin: 18px 20px 0px 20px;
}
.deliver{
    display: flex;
    align-items: center;
}
.header_search{
    display:flex;
    flex: 1;
}
.SearchBox{
    height: 15px;
    padding: 10px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 100%;
}
.SearchIcon{
     background-color: #cd9042;
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
     padding: 5.7915px;
}
.header_nav{
    display: flex;
    justify-content:space-around;
}
.header_link{
    color: white;
    text-decoration:none;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin:0px 15px ;
}
.Line1{
    font-size:12px;
    color: #D6D6D6;
}
.Line2{
    font-size: 13.5px;
    font-weight:700;
}
.headerCart{
    display: flex;
    align-items:center;
}
.cartCount{
    margin: 0px 10px;
}


/* This is second navbar */

.MenuIcon{
    display: flex;
    align-items: center;
    font-weight: 600;

}
.second_navbar{
    background-color: #232f3e;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 62.99px;
}
.second_navLinks{
    display: flex;
    align-items:center;
}
.second_navLinks .header_link{
    margin-left: 18px;
    font-size: 14px;
}