.home{
    position:relative;
    background-color:rgb(234,237,237);
}
.home_row{
    display: flex;
    z-index: 1;
    margin-left:5px;
    margin-right:5px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.home_row_1{
    display: flex;
    z-index: 1;
    margin-left:0px;
    margin-right:0px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home_image{
    width:100%;
    mask-image:linear-gradient(180deg, rgba(5,90,175,1) 0%, rgba(255,255,255,1) 82%);
    z-index: -1;
    margin-bottom: -220px;
}
.Notify1{
    text-decoration: none;
    background-color: white;
    text-align: center;
    padding: 11px 101px;
    margin: 0px 35px;
    position: absolute;
    top: 220px;
    left: 7px;
}